/* 链接图标样式 */
.vp-doc a:not([href^='https://img.shields.io/']):not(.not) {
    &[target='_blank'],
    &[href^='./'],
    &[href^='../'] {
        &::before {
            @apply relative inline-block bg-cover align-middle;
            content: '';
            @apply -top-1/2 mr-1 size-5;
            /* 优先使用 JS 动态获取的图标，如果没有则使用默认链接图标 */
            background-image: var(--link-favicon, url('https://api.iconify.design/heroicons-solid:link.svg?color=%23409eff'));
        }
    }

    /* 当前站点适配 */
    &[href^='./']::before,
    &[href^='../']::before,
    &[href^='https://note.weizwz.com']::before,
    &[href^='https://www.note.weizwz.com']::before {
        background-image: url('https://p.weizwz.com/logo_a4353391cbf0889b.webp') !important;
    }
}
.dark .vp-doc a:not([href^='https://img.shields.io/']):not(.not) {
    &[target='_blank'],
    &[href^='./'],
    &[href^='../'] {
        &::before {
            filter: brightness(0.8);
        }
    }
}